{% extends "bookmodule/layouts/base.html" %}
{% block title %} Book Results {% endblock title %}

{% block content %}
<h1>Book List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Price</th>
        <th>Edition</th>
        
    </tr>
    
    {% for b in books %}
        <tr>
            <td>{{b.id}}</td>
            <td>{{b.title}}</td>
            <td>{{b.author}}</td>
            <td>{{b.price}}</td>
            <td>{{b.edition}}</td>
        </tr>
    {%endfor%}
</table>


<style>
    table, th, td{
        border: 1px solid black;
        border-collapse: collapse;
    }
    th{
        background-color: gray;
    }

</style>
<a href="{% url 'search_books' %}">Back to Search</a>
{% endblock content %}
